@{
    ViewData["Title"] = "Home Page";
}

<h1 class="fs-1 text-center mb-5" id="title">Bienvenido</h1>


<div class="row">


    <div class="col-sm-4 mx-auto">
<div class="card mx-auto">
    <div class="card-header">
        Ingrese la IP a buscar
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <div class="d-flex flex-row mb-3">
            <input type="text" value="" id="ip" name="id" class="form-control me-2" required />
            <button type="button" class="btn btn-primary" id="btnSend">Send</button>
        </div>
        <ul class="list-group list-group-flush" id="content">
        </ul>
    </div>

</div>

    </div>


</div>